/* =============== STYLESHEET FOR ADMIN USER ===================== */

section{
    border: 1px solid #5a5a5a;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.section-header{
    width: 100%;
    margin: auto;
    background-color: #5a5a5acc;
    padding: 10px 0;
    h2{
        font-weight: bold;
    }
}

.add-prod-info{
    width: 80%;
    max-width: 600px;
    border: none;
    margin: auto;
    align-items: center;

    & .centerized-row{
        justify-content: center;
    }

    & label:has(:required) span::after, 
    & span:has(+ label.required)::after {
        content: "*";
    }
}


.info-popup{
    position: fixed;
    z-index: 10;
    background-color: #CCCCCC;
    color: #5a5a5a;
    top: calc(50vh - 10%);
    left: calc(50vw - 10%);
    width: 20%;
    height: 20%;
    min-width: 150px;
    min-height: 100px;
    padding: 10px 40px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;

    div.info-text{
        align-self: flex-start;
        margin: 20px 0;
    }
}

.error-popup{
    color: #ad212e;
}

.overlay-popup{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    overflow: hidden;
    z-index: 3;
}