/* Newsletter */

.newsletter-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    border: 1px solid #5a5a5a;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-areas:
            "header"
            "body";
    padding: 1rem;
}

.newsletter-container h1{
    font-size: 2.0rem;
    font-weight: bolder;
    margin: 7px;
    padding: 0px;
}

.newsletter-container h2{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 7px;
    padding: 0px;
}

.newsletter-container h3{
    font-size: 1.40rem;
    font-weight: normal;
    margin: 7px;
    padding: 0px;
}

.newsletter-header {
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    grid-area: header;
}

.newsletter-boy {
    grid-area: body;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
}

.tile.newsletter-tile {
    width: 70%;
}

.newsletter-footer {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}