.orderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.orderTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #323232;
    border-radius: 5px;
}

.orderTable-container{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.orderTable caption {
    background: hsl(0 0% 0%);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
}

.orderTable th {
    background: hsl(0 0% 0% / 0.5);
    color: #323232;
    text-transform: uppercase;
}

.orderTable tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / 0.3);
}

.orderTable th, .orderTable td, .orderTable caption {
    padding: 1rem;
    border: 1px solid #a5a5a5;
    text-align: center;
}

.orderImage {
    object-fit: contain;
    min-width: 68px;
    min-height: 68px;
    width: 120px;
    max-height: 120px;
}


.closeModal {
    color: red;
    border-radius: 2px;
    border: 1px solid black;
}

.closeModal:hover {
    background-color: red;
    color: white;
}

#sendReview {
    border-radius: 5px;
    border: 1px solid #202020;
    background-color: #a5a5a5;
}

.comment {
    border-radius: 5px;
    border: 1px solid #202020;
    background-color: #a5a5a5;
}

.star{
    cursor: pointer;
}

.prodModal {
    align-items: center;
    border-radius: 5px;
    background-color: #c0c0c0;
}

.span.star-on::before{
    content: "\2605";
    color:#ffc30a;
    font: 1.1em sans-serif;
}

.span.star-off::before{
    content: "\2606";
    color: #f5f5f5;
    font: 1.1em sans-serif;
}

#recensione-stelle {
    user-select: none;
}