/**
 * Small Sized Screens - Less than 450px
 */
@media only screen and (max-width: 450px) { 
    
    /* ---- TILES ----- */
    .tile{
        flex-basis: 80%;
    }

    /*Adapt Home to use 100% on smaller screens */
    div.main_home{
        width: 95%;
    }

    /* ---- PRODUCT PAGE ---- */
    section.prod-description{
        border: none;

        & h2{
            margin: 20px auto;
        }

        & hr{
            margin: 30px auto;
        }
    }

    /* ========== FORM CHECKBOX =============== */
    .category-form{
        & label{
            flex-basis: 90%;
        }
    }
}



/* ============== RULES LESS THAN 360px SCREEN WIDTH =============== */
@media only screen and (max-width: 360px) {
    /* UPPER BAR */
    .upper-logo-name{
        object-fit: cover;
        padding-left:36px;
    }

    .upper-name{
        display: none;
    }

    /* Hide WebSite Logo Iame in <360px only if search bar is inside upper bar */
    div.upper_bar .upper-logo-name:has(~ .search_container) {
        display: none;
    }



    /* TILE */
    .tile{
        .original-rem-price{
           font-size: 0.7em;
           display: block;
        }
        .tile-text-bottom{
            min-width: 30px;
            flex-grow: 1;
            flex-flow: row wrap;
        }
    }
}

/* ============= ONLY LESS THAN 250px ============ */
@media only screen and (max-width: 250px) {
    /* UPPER BAR */
    .upper-logo-name{
        padding-left: 0;
        object-fit: fill;
        width: 60px;
    }

    /* TILE */
    .tile-desc{
        display: none !important;
    }

    /* FOOTER*/
    .ft-terms{
        flex-flow: column wrap;
    }
}

/* ============= ONLY LESS THAN 150px ============ */
@media only screen and (max-width: 155px) {
    /* UPPER BAR */
    .upper-logo-name{
        display: none !important;
    }

    /* TILE */
    .tile-text-bottom{
        display: none !important;
    }
}