/**
 * Main Style CSS by Man
 * Rules: 
 * - Underscore('_') in external container or general components names only
 * - In other classes/id: use '-'instead
 */

 /* ===================== @ rules and queries ===================== */

@font-face {
    font-family: "CodecPro";
    src: url(../fonts/CodecPro-Regular.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont.ttf);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* ===================== GENERAL ELEMENTS ========================= */

html{
    font-size: 16px;
}

/* Body */
body.body_def{
    min-height: 100vh;
    background-color: #121212;
    color: #f5f5f5;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
}

.centerized-flex-container{
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}
/*End Body*/

/* ------- HTML TAG Defaults ------- */

img {
    max-width: 100%;
}

h2, h3{
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: normal;
}

p {
    font-size: 0.85rem;
}

h3{
    font-weight: bold;
    font-size: 0.93rem;
}

/*Slogan*/
h5{
    font-family: Inter, sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
}

a{
    text-decoration: none;
    color: #f5f5f5;

    &:hover{
        color: #C0C0C0;
        transition: all ease-in 0.2s;
    }

    &:not(:hover){
        transition: all ease-in 0.2s;
    }
}

hr{
    width: 70%;
    border: 1px solid #5a5a5a;
}


/* -------- SOME GENERAL USE CLASSES ----- */

.overlay{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    position: absolute;
    overflow: hidden;
    z-index: 3; 
    display: none;  
}

.general_icon{
    filter: invert(1);
    border-radius: 50%;
    outline: 3px solid #59595940;
    background-color: #59595940;
    margin: auto 5px;   
}

.general_icon:hover{
    /*outline: 5px solid #f5f5f5;*/
    background-color: #59595980;
    transform: scale(1.1);
    transition: all 0.2s;
    cursor: pointer;
}

.menu_icon {
    /*display: none; */ /*WideScreen Rule*/
    position: relative;
    z-index: 5;
    transition: transform 0.4s;
} 

.close_icon{
    transition: transform 0.5s;
}

span.discount{
    border-radius: 2px;
    font-weight: bold;
    color: #f5f5f5;
    background-color: #0a78f5;
    margin: auto;
    padding: 1px 2px;
    box-shadow: 0px 0px 2px 1px rgba(55, 55, 55, 0.2);
}

span.original-rem-price{
    margin: 0 5%;
    color: #ad212e;
    text-decoration: line-through;
}

li.this-page{
    a{color:#C0C0C0;}   
}


.text-center{
    text-align: center;
}

.margin-h-10{
    margin-left: 10px;
    margin-right: 10px;
}

.margin-v-10{
    margin-bottom: 10px;
    margin-top: 10px;
}

span.star-on::before{
    content: "\2605";
    color:#ffc30a;
    font: 1.1em sans-serif;
}

span.star-off::before{
    content: "\2606";
    color: #f5f5f5;
    font: 1.1em sans-serif;
}

/* ----- DEFAULT STYLES FOR INPUT ELEMENTS ----- */

/* Default Classes */

input[type="reset"].default, input[type="submit"].default, button.default{
    background-color:#0a78f5;
    line-height: normal;
    color: #f5f5f5;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
    &:hover{
        background-color: #1d80f1;
        transform: scale(1.05);
    }
}

button.yellow{
    background-color: #ffc30a;
    color: #121212;

    &:hover{
        background-color: #f0b50f !important;
    }
}

input:not([type="submit"], [type="radio"], [type="reset"]){
    border: 2px solid #5a5a5a;
    border-radius: 20px;
    padding: 10px 15px;
    min-width: 100px;
    width: 50%;
}

/* Override size imposition of previous css style. Now html style tag is used */
input.free-size{
    min-width: 10px;
    width: fit-content;
}

input[type="number"].hide-arrows{
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input::placeholder{
    color: #c0c0c0;
}

input[type="submit"].alternative, input[type="reset"].alternative, button.alternative{
    border: 2px solid #0a78f5;
    background-color: #f5f5f5;
    color: #5a5a5a;

    &:hover{
        background-color: #1d80f1;
        transform: scale(1.05);
        color: #f5f5f5;
    }
}

input:focus, input:focus-visible {
    outline: solid 1px #5a5a5a !important;
}

textarea{
    margin: 20px 20px;
    padding: 10px;
    color: #f5f5f5;
    background-color: #202020;
    border: 2px solid #5a5a5a;
    border-radius: 5px;
}

/* ===================  MAIN UPPER BAR  =================== */

div.upper_bar{
    display: flex; 
    height:fit-content;
    min-height: 70px;
    background-color: #202020;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 2; 

    & .upper-logo-name{
        display: flex;
        align-content: center;
        justify-content:flex-start;
    }

    & input[type=checkbox]{
        /* FOR TEST ONLY */ /*TODO*/
        /*z-index: 5;
        position: absolute;*/
        display: none;
    } 

    /* Applies only when the search bar is inside the upper-bar div container ! */
    & .search_container{
        width: 30%;
    }
}

a.upper-name{
    margin: auto -20px;
    /*font-size: 25px;*/ /*WideScreen Rule*/
    font-family: "CodecPro", 'Calibri', sans-serif;
    color: #f5f5f5;
    font-weight: bold;
    text-decoration: none;
}

/* ----- LOGO AND NAME ----- */

/* Default: Class for logo in nav bar */
.logo{
    width: 100px;
    min-width: 90px;
    object-fit: fill;
    margin-top: -10px;
}

/* ----- LOGO ALTERNATIVE ----- */

/* Div container for logo central - no nav */
.central-logo-name{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content:center;
    font-size: 1.5rem;
    text-align: center;
}


/* Different class for logo - bigger and central */
.logo-big{
    object-fit: cover;
    margin-top: -10px;
    min-width: 150px;
    max-width: 300px;
    width: 50vw;
}

/* ------- MAIN MENU ------ */

div.upper_bar li {
    float: left;
    display: block;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    /*border: #CCCCCC solid 0.1px;*/
    border-radius: 5px;

    &:hover{
        /*background-color: #0a78f5;*/
        background-color: #5a5a5a;
        transition: 0.5s;
    }
    
    &:not(:hover){
        transition: all 0.2s;
    }
}

.upper_bar ul{
    margin: auto;
}

/*
.upper_bar ul > li:first-child{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.upper_bar ul > li:last-child{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}*/


/* RIGHT SIDE OF MAIN BAR */

.upper-bar-right{
    display: flex;
    flex-wrap: nowrap;
    margin: auto 2% auto auto;
    padding-right: 1%;
}


/* ==================== MAIN PAGE CAROUSEL ================== */

/* ------ CAROUSEL CONTAINER ------ */

.carousel{
    width: 80%;
    height: auto;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;

    .carousel-radio{
        display: none;
    }

    ul{
        height: auto;
    }
}

/* ----- SLIDE ----- */

li.carousel-slide{
    display: none;
    box-sizing: border-box;
    position: relative;
    margin: auto;

    &.active-slide{
        display: flex;
        animation: fadeIn 2s;
    }

    .carousel-slide-text{
        position: absolute;
        border-radius: 3px;
        bottom: 10px;
        right: 10px;
        background-color: rgba(0,0,0,0.8);
        padding: 10px 15px;
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.9);
    }

    img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 400px !important;
        margin:auto;
        /*max-width: 640px !important;*/
    }

    img:hover, img:focus{
        opacity: 0.8;
        color: #f5f5f5;
        text-decoration: none;
        cursor: pointer;
        transition: opacity 0.2s;
    }

    /*&:first-child{
        display: flex;
    }*/
}

/* ----- THUMBNAILS ----- */

ul.carousel-thumbnails{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    list-style-type: none;
    justify-content: center;
    max-height: 400px !important;

    & li{ 
        min-height: 0;
        min-width: 0;
        height: calc(100% / 5);
        width: 100%; 
        flex-grow: 1;
    }

    & li:hover, li:focus{
        opacity: .9;
        text-decoration: none;
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.5s;
    }

    & li:not(:hover){
        transform: scale(1);
        transition: transform 0.5s;
    }

    & li img.active-thumbnail{
        /*border: #CCCCCC;
        border-style: solid;*/
        outline: 2px solid #0a78f5;
    }

    & li label{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    & li img{
        box-sizing: border-box;
        border-radius: 4px;
        min-width: 0;
        max-width: 180px;
        max-height: calc(100% - 5px);
        object-fit: cover;
        height: 100%;
        width: 100%;
        margin: auto;
        cursor: pointer;
    }
}


/* =================== SEARCH BAR =================== */

.search_container{
    width: 80%;
    margin: auto;
}

.search-bar{
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 8px;

    span{
        margin-left: 1%;
        height: 100%;
    }

    span img{
        filter: invert(1);
        display: block;
        min-width: 20px;
        max-height: 100%;
        width: auto;
    }
    
    input[type=text] {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        background-color: inherit;
        border: 0px;
        height: 30px;
        color: #f5f5f5 !important;
        padding: 0px 10px !important;   
        border-radius: inherit;
    }

    input::placeholder{
        color: #C0C0C0;
    }

    input[type=text]:focus, input[type=text]:focus-visible {
        /*outline: solid 2px #0a78f5 !important;*/
        outline: solid 1px #5a5a5a !important;
    }
}

.search-bar:focus, .search-bar:focus-visible {
    /*outline: solid 2px #0a78f5 !important;*/
    outline: solid 1px #5a5a5a !important;
}




/* =========================== FOOTER ============================= */

.footer{
    width: 100%;
    font-size: x-small;
    display: flex;
    flex-flow: column wrap;
    height:fit-content;
    align-items: stretch;
    background-color: #202020;
    padding-bottom: 20px;
    margin-top: 100px;

    p{
        margin: 0%;
    }
    
    img{
        object-fit: contain;
    }

    & > *:first-child{
        padding-top: 2px;
    }

    & > div{
    margin: 10px auto 0 auto;
    }

    a{
        color: #f5f5f5;
        text-decoration: none;

        &:hover{
            color: #C0C0C0;
            transition: all ease-in 0.2s;
        }

        &:not(:hover){
            transition: all ease-in 0.2s;
        }
    }

    & .ft-terms{
        display: flex;
        width: 100%;
        align-items: stretch;
        & > *{
            margin: 0 auto;
        }
    }
}


/* ===================== MAIN HOME CONTENT ===================== */

/* ----- CONTAINER ----- */
.main_home{
    margin: 5% auto 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
}


/* -----------  TILE ----------- */
.tile{
    flex: 0 1 28%; /* Properties for tile div not internal components */
    width: calc(80% / 3);
    background: #202020;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    font-size: small;
    margin: 2% auto 0 auto;
    height: auto;
    max-height: 300px;
    max-width: 480px;
    /*This set display:flex for children elements*/
    display: flex; 
    flex-flow: column nowrap;

    &:hover{
        box-shadow: 0px 0px 5px 1px rgba(80, 80, 80, 0.2) inset;
        transform: scale(1.01);
        transition: scale 0.2s;
    }

    &:not(:hover){
        transition: scale 0.2s;
    }

    .tile-text{
        height: auto;
        min-height: calc(20px + 5.5rem);
        padding: 5px 10px 0 10px;
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
    }

    .tile-title{
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /*all 3 above needed for ellipsis to work*/
        min-height: 1.2em; /*min-height needed for overflox problem width description div*/
        margin-bottom: 1%;
        line-height: normal; /*A little of adapation for older versions not supporting nowrap*/
        max-height: 1.5em;
    }

    .tile-desc{
        flex-grow: 1; /*Only this div will flex-grow if required*/
        font-size: 0.8rem;
        min-height: 20px;
        max-height: 3.9em;
        line-height: 1rem;
        /* Manage overflow and add ellipsis after 3 lines */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3; /* Should replace all 3 lines in future */
    }

    .tile-text-bottom{
        box-sizing: border-box;
        margin: 2% auto 3% auto;
        border-radius: 5px;
        display: flex;
        flex-flow: row nowrap;
        border: solid 1px #5a5a5a;
        width: 60%;
        min-width: 150px;
        padding: 5px 10px;

        .tile-text-bottom-price{
            margin: auto;
        }
    }

    .tile-img{
        height: calc(9/16 * 100%);
    }

    img{
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    img:hover{
        opacity: .9;
    }
}

/* Span.Discount see General Section */



/* ======================== FORM FOR LOGIN ============================= */

/* ----- Form Main Div ----- */
.log_form{
    /*background-color: #C0C0C0;*/
    align-self: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    max-width: 500px; 
    font-size: 0.9rem;

    & fieldset{
        border: none;
        flex-flow: row wrap;
    }

    & fieldset:not(.form-row){
        width: 100%;
    }

    & label span {min-width: 70px;}

    & .form-row{
        flex-flow: row wrap;
    }
    
    /* Every FieldSet that doesn't have a submit type input */
    & .form-row{
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 90%;
    }

    /* Overrides previous spacing - Every FieldSet that doesn't have a submit type input */
    & .form-row.centerized-row{
        justify-content: center;
    }

    /* Overrides previous spacing - Every FieldSet that doesn't have a submit type input */
    & .form-row.flex-start-row{
        justify-content: flex-start;
    }

}

/* ---- Register Form Overrides ---- */
.reg_form{
    max-width: 800px;
}

.log_form form{
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.log_form input{
    background: none;
    margin: 10px 20px;
    line-height: 1.3rem;
    color: #c0c0c0;
}

/* Add Image Background for Input Username */
input#user{
    background-image: url(../img/icons/user_white.svg);
    background-size: 17px;
    background-position: 5px center;
    background-repeat: no-repeat;
    text-indent: 20px;
}

/* Add Image Background for Input Password */
input#pass{
    background-image: url(../img/icons/fingerprint_white.svg);
    background-position: 5px center;
    background-repeat: no-repeat;
    text-indent: 20px;
}


.admin-login{
    text-align: center;
    color: #f0b50f;
}

/* Error if Username or Password are wrong */
.invalid-credentials{
    color: #ad212e;
}

/* ========================================= PRODUCT PAGE ========================================== */

/* ------ FRONT VIEW (MAIN IMAGE AND PRICE/ADD CART DIV) ------ */

/* Product Title Page */
.game-name{
    margin: auto;
    text-align: center;
    font-size: large;
    font-family: Inter, 'OpenSans', sans-serif;
}

/* ------------- Container of Front View ------------ */
.front-view{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;   
}

/* ------- Main Image ----- */
.prod-front-image{
    width: 60%;
    max-width: 800px;
    min-width: 300px;
    margin: 20px 50px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    transition: transform 0.3s linear;

    &:hover{
        opacity: 0.9;
        transform: scale(1.02);
    }

    &:not(:hover){
        transform: scale(1);
    }
}

/* ------ Lateral Overview ------ */
.prod-overview{
    width: 20%;
    min-width: 300px;
    margin: 20px 50px;
    padding: 50px 10px;
    background-color: #5a5a5a;
    border-radius: 5px;
    align-self: center;

    & .prod-price{
        background-color: #c0c0c0;
        border: 1px solid #121212;
        border-radius: 5px;
        color: #121212;
        font-size: medium;
        text-align: center;
        padding: 10px 0px;
        margin: 10px 15%;
    }

    & .prod-add-to-cart{
        display: flex;
        flex-flow: column wrap;

        & button{
            margin: 10px 20%;
        }
    }

    /* - Metadata Table - */

    & .prod-meta-table{
        margin: 10px 0;
    }

    & .prod-meta-table table{
        width: 90%;
        margin: auto;
        font-size: 0.9rem;
        border-collapse: collapse; /* Collapse cell borders on table row (unifies them) */

        & th, & td {
            padding: 5px 0;
        }

        & tr{
            border-bottom: 1px solid #202020;
        }
    }

    & .social-overview{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        & img{
            margin: 5px 10px;
        }
    }
}

/* ----------- Product Main Container ------------- */

/* ------ Description Box ------ */
.prod-description{
    font-size: 0.9rem;
    width: 100%;
    border: 1px solid #5a5a5a;

    h2{
        text-align: center;
        padding: 5px;
        color: #f5f5f5;
        font-size: 1rem;
    }

    & .prod-desc-internal{
        padding: 30px 5px;
        width: 90%;
        margin: auto;
    }

    .req-table{
        border-collapse: collapse;
        border: none;
        margin: 10px;
        width: 30%;
        max-width: 400px;
        min-width: 200px;

        th{
            text-align: left;
            width: 50%;
        }
    }

}

/* ------ Review Box ------- */

/* Section */
.prod-reviews{
    margin: 50px auto;
    width: 100%;
    border: 1px solid #5a5a5a;
    font-size: 0.82rem;

    & h3{
        padding: 0px 10px;
    }

    /* Content container */
    & .prod-reviews-internal{
        padding: 30px 5px;
        width: 90%;
        margin: auto;
        overflow-x:scroll;
    }

    /* First Row contains Review heading and average vote */
    & .prod-review-first-row{
        padding: 10px 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    /* Average of Product votes display */
    & .review-average{
        padding: 5px 10px;
        margin: 0 20px;
        background-color: #303030d5;
        border-radius: 5px;
        border: 2px groove #5a5a5a;
    }

    /* Table with Reviews */
    & .prod-reviews-table{
        margin: 0 auto;
        width: 90%;
        border-collapse: collapse;

        th, td{
            border-bottom: 1px solid #5a5a5a;
            border-right: 1px solid #5a5a5a;
            padding: 10px 20px;
        }
        
        th:first-child, td:first-child{width: 20%;}
        th:nth-child(2), td:nth-child(2){width: 10%;}
        th:nth-child(3), td:nth-child(3){width: 50%;}

        td:last-child, th:last-child{
            border-right: none;
        }
    }
}