/**
 * These are Rules for >= 700px width only;
 */
@media only screen and (min-width: 700px) { 

/* ==================== UPPER MENU BAR ======================== */

    div.upper_bar {

        & a.upper-name{
           font-size: 25px; 
        }

        & .upper-logo-name{
            flex-grow: 0;
            justify-content:flex-start;
            margin: 0 2%;
        }
    }

    .menu_icon{
        display: none;
    }

/* ====================== SEARCH BAR ========================= */
    .search-bar{
        width: 75%;
    }


/* =================== CAROUSEL ===================== */

    .carousel{
        & .carousel-slide{
            min-height: 300px;
            align-self: center;
        }

        ul{
            min-height: 300px;
        }
    }

    /* ========== FORM CHECKBOX =============== */
    .category-form{
        & label{
            flex-basis: 30%;
        }
    }

}


/* ============================================= RULES BETWEEN 700px AND 1000px SCREEN WIDTH ======================================== */

@media only screen and (max-width: 1000px) {
    .tile{
        flex-basis: 45%;
    }

    .filter-bar ~ .main_home{
       width: fit-content;
    }
}



/* =========== For Cart Page =============*/
@media only screen and (max-width: 800px) {

    .cart_container{
        justify-content: center;
        gap: 20px 0;
    }

    aside.side-cart-view{
        flex-basis: 60%;
        position: static;
    }
}